*{padding:0; margin:0; box-sizing: border-box;}
 ul{list-style:none;}
a{text-decoration:none;
  display: block;
}
li{list-style: none;}
img{vertical-align: top;
   /* padding: 33px;*/}
/*header start*/


@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');


/*-----------------------------------fashion1*/
.content_img1{
    width: 100%;
    text-align: center; 
}


.content_img1 img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}
.unbanvogue_nav{
    display:flex;
    margin-top:3vw;
}
.navbar3{
    color:#818181;
    font-size:clamp(14px, 0.7vw, 0.6rem);
    position: fixed; 
    top: 5.5vw; 
    left: 5vw; 
}
.unbanvogue_nav{
    position: relative;
    z-index: 1000;
    height: 12vw;
    
    background-color: #07032b;
}
.urbanmain1{
    position: fixed; 
    top: 0; 
    left: 0;
    width:100%; 
    height: auto;
}
.maintype{
    color:#acacac;
    font-size:clamp(20px, 1.6vw, 1.6rem);
    margin-bottom: 0.1vw;
    font-weight: 400;
    text-align: center;
    width:100%;
    font-family:"continuous";
}
.maintype1{
    color:#acacac;
    font-size:clamp(20px, 1.6vw, 2rem);
    margin-bottom: 0.5vw;
    font-weight: 100;
    text-align: center;
  
}




.maintype2{
    color:#acacac;
    font-size:clamp(13px, 1vw, 0.8rem);
    font-weight: 200;
    text-align: center;
}
.urbanmain1{
    margin-top:2vw;
}


/*---------navbar1*/
.navbar1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    position: fixed; 
    top: 5.5vw; 
    left: 0; 
    width: 100%;}
    


/* 기본 상태 */
/* 기본 a 태그 스타일 */
.navbar1 a {
   
    color: rgb(145, 145, 145); /* 기본 색상 */
    transition: color 0.3s ease; /* 색상 변화에 부드러운 전환 효과 추가 */
}



.navbar2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
    margin-right: 4vw;
    position: fixed; 
    top: 5vw; 
    left:30vw; 
    width: 100%;
    
}
.navbar2 a{
    color:#acacac;
}
.navbar2 a:hover,.navbar1 a:hover{
    color:#bfff48;
}

.navbarmain{
    display:flex;
    justify-content: flex-end;
    gap: 19.9vw;
    margin-top: 0.5vw;
}


/*----------------------------------fashion1 end*/

.red{
    background:#fff;
    height: 80vw;
}


/*------------main_content1*/

.main_content1,.main_content2,.main_content3{
    display:flex;
    position: relative;
    z-index: 1;
    margin-top: 8vw; 

}

.content_img1,.content_img2,.content_img3,.content_img4,.content_img5,.content_img6,
.content2_img1,.conten2_img2,.content2_img3,.content2_img4,.content2_img5,.content2_img6,.content2_img7,.content2_img8,.content2_img9,.content2_img0,

.content3_img1,.conten3_img2,.content3_img3,.content3_img4,.content3_img5,.content3_img6,.content3_img7,.content3_img8,.content3_img9,.content3_img0{
    width:30vw;
 
    
}
.content_image1,.content_image2,.content_image3,.content_image4,.content_image5,.content_image6

{
    display:flex;
    gap:5vw;
   
   
   
}
.content2_image1,.content2_image2,.content2_image3,.content2_image4,.content2_image5,
.content3_image1,.content3_image2,.content3_image3,.content3_image4,.content3_image5{
    display:flex;
    gap:5vw;
    margin-bottom: 20vw;
    justify-content: center;
}

.main_content1{
   
    flex-direction: column;
    align-items: center;
    gap:20vw;
}
.main_content2{
    flex-direction: column;
    align-items: center;
    margin-top:20vw;
    
}
.main_content3{
    flex-direction: column;
    align-items: center;
    margin-top:20vw;
    
    
}

.main_content2, .main_content3 {
    display: none; /* 처음에는 안 보이게 설정 */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.main_content2.show, .main_content3.show {
    display: block;
    opacity: 1;
}


/*===============아뜨랑스*/
.button{
    text-decoration: none;
    font-size:1em;
    color:#dbdbdb;
    padding:11px 42px;
    border-radius: 0.5vw;
    outline:0.5px solid#6e6e6e;
    position: relative;
    overflow: hidden;
    font-weight: 200;
    margin:0 auto;
    width:30vw;
}
.button:before{
    content:'';
    position: absolute;
    left:-50px;
    top:0;
    width:0%;
    height:100%;
    background:#eeeeee;
    z-index:-5;
    transform:skewX(35deg);
    transition:width 1s;
}
.button:hover{color:#0a021e;}
.button:hover:before{
    width:150%;

}
.nodenmain2{
    margin-top:11vw;
    text-align: center;
}
.navbartype4{
    margin-left:15vw;
 }

 .line{
    border:1px solid#676767;
    
 }
 /*.footer1{
    height: 20vw;
    background: #9e9e9e;
 }*/



 footer {
    background: #738792;
    color: #b3b3b3;
    text-align: center;
    padding: 20px 0;
}

.footer-links a {
    color: #b3b3b3;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    padding: 0.6vw;
}

.footer-social a {
    margin: 0 10px;
    font-size: 18px;
}

.footer-social a i {
    color: #b3b3b3;
}

.footer_img img{
    width:3.5vw;
    padding:0.7vw;
    
    
}
.footer_img{
    display:flex;
    justify-content: center;
}
.footer_p1{
    margin-bottom: 1vw;
}
.btn_page_top {
    position: fixed;
    bottom: 6.04vw;
    right: 6.7vw;
    z-index: 40;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
}

.btn_page_top:hover {
    background:url(img/arrow2.png)
}

.btn_page_top:active {
    transform: scale(0.8); /* 클릭 시 살짝 축소 */
}

/* 스크롤이 일정 이상 내려갔을 때만 보이게 */
.btn_page_top.hidden {
    opacity: 0;
    pointer-events: none;
}
/*social*/
.social_img {
    padding: 13px;
    margin-left: 3vw;
    align-items: center;
    display:flex;
    justify-content: center;
 }
 .social-icons img {
    transition: filter 0.3s ease;
 }
 .social-icons img:hover {
    filter: grayscale(100%) brightness(50%);
 }
.footer-links a:hover{
    filter: grayscale(100%) brightness(50%);
}
.footer-links a{
    transition: filter 0.3s ease;
}